/*This is a code comment*/

body {
  background-image: url("http://www.kinyu-z.net/data/wallpapers/229/1507662.jpg");
}
.header-container {
  text-align: center;
}

.HU-Logo {
  width:100px;
}

.Education {
  text-align: center;
  font-family: cursive;
}
.HU {
  font-family: cursive;
}
.dashed-border {
  margin-top: 50px;
  border-style: dashed;
  padding: 10px;
}

.top {
  text-align: center;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
}
a:link {
  color: black;
}
a:visited{
  color: black;
}
a:hover {
  color: red;
}

p {
  text-align:justify;
}

ul {
  text-align: justify;
}
h1 {
  font-family: "courier new", courier, serif;
}
.Objective {
  border-style: solid;
  padding: 10px;
}

.HU {
  margin-top: 5px;
}
.Psy {
  margin-top: 5px;
}






