/*This is a code comment*/


.header-container {
  background-color: blue;
  text-align: center;
}

.HU-Logo {
  width:100px;
}

.Education {
  text-align: center;
}

.Objective {
  width:88%;
}

.





